In [13]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Phatthalung,TH,2021-05-24 14:10:15,7.5000,100.0833,80.82,81,100,7.34
1,1,Busselton,AU,2021-05-24 14:10:15,-33.6500,115.3333,48.09,66,98,7.49
2,2,Bredasdorp,ZA,2021-05-24 14:10:16,-34.5322,20.0403,65.28,67,100,4.97
3,3,Hermanus,ZA,2021-05-24 14:10:16,-34.4187,19.2345,69.91,67,100,14.63
4,4,Port Lincoln,AU,2021-05-24 14:10:16,-34.7333,135.8667,60.40,89,100,18.43

In [15]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of temperature using list comprehension
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#adjusting figure
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level =1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed (mph)
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Phatthalung,TH,2021-05-24 14:10:15,7.5000,100.0833,80.82,81,100,7.34
8,8,Abu Samrah,SY,2021-05-24 14:10:18,35.3029,37.1841,81.93,24,11,18.72
9,9,Urucurituba,BR,2021-05-24 14:10:18,-2.6833,-57.6667,89.29,56,24,4.54
12,12,Atuona,PF,2021-05-24 14:10:19,-9.8000,-139.0333,80.01,76,32,18.81
17,17,Souillac,MU,2021-05-24 14:10:21,-20.5167,57.5167,72.36,74,82,14.03
20,20,Pabianice,PL,2021-05-24 14:10:22,51.6645,19.3547,70.30,49,0,5.99
22,22,Oktyabrskoye,RU,2021-05-24 14:10:22,43.0645,44.7417,73.54,85,75,1.97
24,24,Victoria,HK,2021-05-24 14:09:44,22.2855,114.1577,86.38,83,100,4.00
29,29,Maltahohe,NaN,2021-05-24 14:10:25,-24.8333,16.9833,76.68,18,4,3.49
33,33,Le Port,RE,2021-05-24 14:09:08,-20.9373,55.2919,73.36,78,37,3.71

In [30]:
preferred_cities_df.count()

City_ID       259
City          259
Country       255
Date          259
Lat           259
Lng           259
Max Temp      259
Humidity      259
Cloudiness    259
Wind Speed    259
dtype: int64

In [31]:
preferred_cities_df = preferred_cities_df.dropna()

In [32]:
preferred_cities_df.count()

City_ID       255
City          255
Country       255
Date          255
Lat           255
Lng           255
Max Temp      255
Humidity      255
Cloudiness    255
Wind Speed    255
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0      Phatthalung      TH     80.82   7.5000  100.0833
8       Abu Samrah      SY     81.93  35.3029   37.1841
9      Urucurituba      BR     89.29  -2.6833  -57.6667
12          Atuona      PF     80.01  -9.8000 -139.0333
17        Souillac      MU     72.36 -20.5167   57.5167
20       Pabianice      PL     70.30  51.6645   19.3547
22    Oktyabrskoye      RU     73.54  43.0645   44.7417
24        Victoria      HK     86.38  22.2855  114.1577
33         Le Port      RE     73.36 -20.9373   55.2919
34  Saint-Philippe      RE     72.95 -21.3585   55.7679

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Phatthalung,TH,80.82,7.5000,100.0833,Ozone Resort & Pool Villa
8,Abu Samrah,SY,81.93,35.3029,37.1841,
9,Urucurituba,BR,89.29,-2.6833,-57.6667,
12,Atuona,PF,80.01,-9.8000,-139.0333,Villa Enata
17,Souillac,MU,72.36,-20.5167,57.5167,Shanti Maurice Resort & Spa
...,...,...,...,...,...,...
571,Tutoia,BR,87.78,-2.7619,-42.2744,Pousada Guará's
574,Kapoeta,SS,86.14,4.7717,33.5903,Eastgate Hotel
575,Kupang,ID,77.72,-10.1667,123.5833,Hotel On The Rock by Prasanthi
576,Goksun,TR,79.75,38.0210,36.4973,Tuğçe Otel
582,Inhambane,MZ,76.98,-23.8650,35.3833,Oceano

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))